.track__container{
  text-align: center;
}

table{
  margin: 0 auto;
}

.remision__content{
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
  border: 1px gray solid;
  border-radius: 30px;
  background-color: lightcyan;
 
}

button {
  display: block;
  margin: 30px auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 50px auto;
  min-width: 200px;
}

form * {
  height: 30px;
  margin: 5px;
}